<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ck_google_adress_autocomplete</name>
	<displayName><![CDATA[CodingKnowledge Google Adress Auto Complete]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Google Maps place adress auto complete]]></description>
	<author><![CDATA[CodingKnowledge]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
